@import '~antd/dist/antd.css';

html {
    min-height: 100%;
    width: auto;
    font-size: 100%;
}


#app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

.header {
    position: fixed;
    width: 100%;
    display: flex;
    background: #222;
    padding-left: 24px;
    padding-right: 24px;
    display: block;
    z-index: 999;
}

.header h1 {
    color: #fff;
    width: auto;
    float: left;
}

.side-nav {
    border-right: 1px solid #e8e8e8;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(232, 232, 232);
    flex: 0 0 220px !important;
    max-width: 220px !important;
    min-width: 220px !important;
    width: 220px !important;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    left: 0px;
    top: 64px;
    bottom: 0px;
    background: rgb(255, 255, 255);
}


.ant-menu-vertical {
    border-right: none;
}

.user-menu {
    padding: 0px 12px;
    height: 56px;
    margin-top: 4px;
    margin-bottom: 4px;
    line-height: 56px;
    border-bottom: none;
    width: 220px;
}

.ant-btn .sign-in-btn .ant-btn-primary {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.ant-menu-vertical .ant-menu-submenu-title {
    height: 56px !important;
    line-height: 56px !important;
    width: 220px !important;
    padding-left: 24px;
}

.ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow {
    right: 24px !important;
}

.ant-menu-submenu-vertical > .ant-menu-submenu-title .ant-menu-submenu-arrow {
    display: none !important;
}

.ant-menu-inline {
    border-right: none;
}

.create-room {
    padding-left: 24px !important;
    padding-right: 24px !important; 
}

.main-content {
    margin-left: 220px;
    height: 100vh;
}

.ant-list-empty-text {
    display: none !important;
}

.chat-room-container {
    position: relative;
    height: inherit;
}

.ant-modal-body {
    text-align: center;
}

.chat-room-header {
    font-family: Verdana, Geneva, sans-serif;
    position: absolute;
    top: 64px;
    width: 100%;
    background: none;
    border-bottom: 1px solid #e8e8e8;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.55);
    z-index: 998;
}

.chat-room-messages {
    position: absolute;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 100px;
    top: 128px;
    left: 0px;
    right: 0px;
    bottom: 63px;
    height: auto;
    overflow-y: hidden;
}

.chat-room-messages:hover {
    position: absolute;
    top: 128px;
    left: 0px;
    right: 0px;
    bottom: 63px;
    height: auto;
    overflow-y: scroll;
    width: inherit;
}

.chat-room-footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 0px 24px 24px 24px;
}

.message-form {
    margin-bottom: 0;
}
