@import '~antd/dist/antd.css';

html {
    min-height: 100%;
    width: auto;
    font-size: 100%;
}

#app {
  width: 100%;
  height: 100%;
  margin: 0;
}

.header {
    position: fixed; 
    width: 100%;
    display: flex;
    background: #222;
    padding-left: 24px;
}

.header h1 {
   color: #fff;
}

.side-nav {
    border-right: 1px solid #e8e8e8;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(232, 232, 232);
    flex: 0 0 220px !important;
    max-width: 220px !important;
    min-width: 220px !important;
    width: 220px !important;
    overflow: auto;
    position: fixed;
    left: 0px;
    top: 64px;
    bottom: 0px;
    background: rgb(255, 255, 255);
}

.ant-menu-item .ant-menu-item-selected .add-room-btn {
    color: #fff !important;
}

.create-room {
    padding-left: 24px !important;
    padding-right: 24px !important; 
}

.main-content {
    margin-top: 64px;
    overflow: 'initial';
    padding: 12px 24px 24px;
}


